[Desktop Entry]
Type=Application
Encoding=UTF-8
Name= Readback
Exec=/home/pi/ttx readback
Icon=/home/pi/Pictures/palm_tree_icon32.png
StartUpNotify=true
Terminal=false

