[Desktop Entry]
Type=Application
Encoding=UTF-8
Name= WTF
Exec=/home/pi/ttx wtf
Icon=/home/pi/Pictures/palm_tree_icon32.png
StartUpNotify=true
Terminal=false

